li {
    list-style: none;
}

nav {
    background-color: #323c81;
}

.navbar-brand {
    font-size: 2rem;
}

.news-column {
    border-left: 1px solid #b2b7d8 !important;
}

.tile-news {
    border: 1px solid #b2b7d8 !important;
}

h5 a {
    color: black;
}

